body{
    background-color: white;
    padding-top:10px;
}

.reference{
    text-align: left;
}

.code {
    text-align: left
}

.sidebar{
    list-style: none;
    position: fixed;
}

.sidebar a{
    color:#2e2e2d;
}

.console-content {
    height: calc(100% - 96px);
    overflow-y: auto;
    max-height: 250px;
    overflow-x: auto;
}

h2, h3{
    color: #213d62;
}

.icon-delete::before {
    background-color: #f7f8f9;
}

pre code {
    max-width: 100vw;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;
    background: none;
}

.code-wrapper {
    display: inline-block;
    margin: 0;
}

.table tbody th {
    border-bottom-width: .05rem;
    vertical-align: top;
}

.code-wrapper code {
    white-space: pre-wrap;
    max-width: 100%;
    user-select: all;
    display: block;
    word-break: break-all;
}

@media only screen and (min-width: 600px) {
    #paybutton{
        width: 50%;
    }
}
